@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

div {
  height: 100vh;
  background: #082032;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
}

h1 span {
  color: rgba(0, 255, 0, 0.75);
}

h3 {
  white-space: nowrap;
  overflow: hidden;
  border-right: solid 3px rgba(0, 255, 0, 0.75);
  font-size: 28px;
  color: rgba(255, 255, 255, 0.7);
  animation: animated-text 1s steps(29, end) 1s 1 normal both,
    animation-cursor 600ms steps(29, end) infinite;
}

/* Text Animation */

@keyframes animated-text {
  0% {
    width: 0%;
  }
  to {
    width: 472px;
  }
}

@keyframes animation-cursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.7);
  }
  to {
    border-right-color: transparent;
  }
}
